@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is testing project to intgrate paymob payment way with asp.net mvc core</p>
</div>
